In [10]:
from pandas import Series
series1 = Series([1,2,3,4,5,6])
series2 = Series([100,200,300,400,500])
print(series1)
series2

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [11]:
series1 + series2

0    101.0
1    202.0
2    303.0
3    404.0
4    505.0
5      NaN
dtype: float64

In [14]:
from pandas import DataFrame
data1 = {'Speed':[102,104,107],
        'Temp':[23,34,42],}
frame1 = DataFrame(data1)
frame1

   Speed  Temp
0    102    23
1    104    34
2    107    42

In [13]:
data2 = {'Speed':[100,105,103],
        'Temp':[23,34,42],
        'Humidity':[85,45,97]}
frame2 = DataFrame(data2)
frame2

   Speed  Temp  Humidity
0    100    23        85
1    105    34        45
2    103    42        97

In [15]:
frame1 + frame2

   Humidity  Speed  Temp
0       NaN    202    46
1       NaN    209    68
2       NaN    210    84

In [19]:
series3 = Series([50,100,150],index = ['Speed','Temp','Humidity'])
print(series3)
frame2

Speed        50
Temp        100
Humidity    150
dtype: int64

   Speed  Temp  Humidity
0    100    23        85
1    105    34        45
2    103    42        97

In [17]:
frame2 - series3

   Speed  Temp  Humidity
0     50   -77       -65
1     55   -66      -105
2     53   -58       -53

In [20]:
series4 = Series([50,100],index = ['Speed','Temp'])
print(series4)
frame2

Speed     50
Temp     100
dtype: int64

   Speed  Temp  Humidity
0    100    23        85
1    105    34        45
2    103    42        97

In [21]:
frame2 - series4

   Humidity  Speed  Temp
0       NaN   50.0 -77.0
1       NaN   55.0 -66.0
2       NaN   53.0 -58.0